<!DOCTYPE html>
<html lang="ko">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title><%=title%></title>
  
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/favicon.ico">
</head>
<body>
  권한이 없습니다. 다시 시도해주세요.
  <script>
    window.location.href = "/user/signin";

  </script>
</body>
</html>
