<!DOCTYPE html>
<html lang="ko">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title><%=title%></title>

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/favicon.ico">
</head>
<body>
  게시글 삭제에 성공하였습니다. 잠시만 기다려주세요.
  <script>
    window.location.href = "/admin/posting";

  </script>
</body>
</html>
