<!DOCTYPE html>
<html lang="ko">
<head>
  <% include ../partial/head.ejs %>


  </script>
</head>
<body>
  <div class="service mobile">
  <div class="header">
    <% include ../partial/title-image.ejs %>
  </div>
  <div>
   이용약관
  </div>
  <div class="footer">
    <% include ../partial/footer.ejs %>
  </div>
  </div>
</body>
</html>
