<!DOCTYPE html>
<html lang="ko">
<head>
  <% include ./partial/head.ejs %>

</head>
<body>
  <div class="notice mobile">
  <div class="header">
    <% include ./partial/title-image.ejs %>

  </div>

  <div class="footer">
    <% include ./partial/footer.ejs %>

  </div>
  </div>
</body>
</html>
