/*all-header*/
html, body{
  height: 100%;
}
body{
  background: #fafafa;
}
.mobile{
  min-width: 320px;
   background-color: #fff;
 }
@media (min-width: 550px){
.mobile{
    margin: 0 10% 0 10%;
    background-color: #fff;
  }
}
@media (min-width: 750px){
.mobile{
    margin: 0 17% 0 17%;
    background-color: #fff;

  }
}
@media (min-width: 1000px){
.mobile{
    margin: 0 25% 0 25%;
    background-color: #fff;

  }
}
.header {
  text-align: center;

}
