<!DOCTYPE html>
<html lang="ko">
<head>
<% include ../partial/head.ejs %>
</head>
<body>
  게시글 삭제에 성공하였습니다. 잠시만 기다려주세요.
  <script>
    window.location.href = "<%=redirectUrl%>";

  </script>
</body>
</html>
