<!DOCTYPE html>
<html lang="ko">
  <head>

    <% include ../partial/head.ejs %>
    <!-- Kakao -->
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
  </head>

  <body>
  <div class="contanier">
    <div class="header mobile">
      <div class="title-img">
        <a href="/">
           <img src="/images/title-img.png" alt="">
        </a>
      </div>
    </div>
  </div>

    <div class="signin">
      <div class="signinup mobile">
        <div id="localsignin">
          <h4 class="signin-title">로 그 인</h4>
          <form action="/user/signin/local" id="form-signin" method="post">
            <div class="row">
              <div class="seven columns">
                <input class="u-full-width" id="signin-email" type="text" placeholder="이메일을 입력해주세요." name="email"/><br/>
              </div>
            </div>
            <div class="row">
              <div class="seven columns signin-email feedback">

              </div>
            </div>
            <div class="row">
              <div class="seven columns">
                <input class="u-full-width" id="signin-password" type="password" placeholder="비밀번호" name="password"/>
              </div>
            </div>
            <div class="row">
              <div class="seven columns signin-password feedback">

              </div>
            </div>
            <div class="row">
              <div class="seven columns">
                <div class="signin-button u-full-width button">
                  로그인
                </div>
              </div>
            </div>
          </form>
        </div>
        <!-- -->
        <div id="kakaosignin">
          <div>
              <div class="row">
                  <div class="col-md-offset-1 col-md-5">
                      <!-- kakao login -->
                      <a id="kakao-login-btn"></a>
                      <a href="http://developers.kakao.com/logout"></a>
                  </div>
              </div>
              <div class="col-md-6">
                  <div ui-view></div>
              </div>
          </div>
        </div>

        <div id="localsignup">
          <h4 class="signup-title">간편 회원가입</h4>
          <form action="/user/signup" id="form-signup" method="post">
            <div class="row">
              <div class="seven columns">
                <input class="u-full-width input-signup-email" type="email" placeholder="이메일을 입력해주세요." name="email" onchange="checkDuplicate(this)" /><br/>
              </div>
            </div>
            <div class="row">
              <div class="seven columns signup-email feedback">

              </div>
            </div>
            <div class="row">
              <div class="seven columns">
                <input id="signup-password" class="u-full-width" type="password" placeholder="비밀번호" name="password"/>
              </div>
            </div>
            <div class="row">
              <div class="seven columns signup-password feedback">

              </div>
            </div>
            <div class="row">
              <div class="seven columns">
                <input id="signup-confirm" class="u-full-width" type="password" placeholder="비밀번호 확인" name="confirm"/>
              </div>
            </div>
            <div class="row">
              <div class="seven columns signup-confirm feedback">

              </div>
            </div>
            <div class="row">
              <div class="seven columns">
                <div class="signup-button u-full-width button">
                  회원가입
                </div>
              </div>
            </div>
            <div class="row">
              <div class="seven columns">
                <div class="signin-rule">
                  <span>회원가입</span>을 누르시면 <a href="#">이용약관 및 개인정보 취급방침</a>에 <span>동의</span>하신것으로 간주합니다.
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="footer mobile" id="main-fot" style="background-color: #353840 !important;">
      <div class="fot1">
        <a href="/">뒤로가기</a>
        <a href="/user/feedback">문의하기</a>
        <a href="#">공지사항</a>
        <a href="http://plus.kakao.com/home/p2ln1p2x">카톡 친구추가</a>
      </div>
      <div class="fot2">
        <a href="#">이용약관</a>
        <a href="#">개인정보처리방침</a>
      </div>
      <div class="fot3">
        ⓒ 보기 드문 젊은이
      </div>
    </div>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript">

      //<!-- 카카오 로그인
      //<![CDATA[
        // 사용할 앱의 JavaScript 키를 설정해 주세요.
        Kakao.init('a33c0ed6a86beef2f9d00f2734cfcf01');
        // 카카오 로그인 버튼을 생성합니다.
        Kakao.Auth.createLoginButton({
          container: '#kakao-login-btn',
          success: function(authObj) {
            console.log(authObj);

            Kakao.API.request({
              url: '/v1/user/me',
              success: function(res){
                console.log(JSON.stringify(res));
                location.href="./oauth?nickname=" + res.properties.nickname + "&email=" + res.kaccount_email;
              },
              fail: function(error){
                console.log(JSON.stringify(error));
              }
            });

            var accessToken = authObj.access_token;
            var tokenType = authObj.token_type;
            var refreshToken = authObj.refresh_token;
            var expiresIn = authObj.expires_in;
            var scope = authObj.scope;

            Kakao.Auth.setAccessToken(accessToken);
            Kakao.Auth.setRefreshToken(refreshToken);

            var accessToken = Kakao.Auth.getAccessToken();
            var refreshToken = Kakao.Auth.getRefreshToken();
            console.log(accessToken);
            console.log(refreshToken);
          },
          fail: function(err) {
            alert(JSON.stringify(err));
          }
        });
      //]]>

      function kakaoLogout(){
        Kakao.Auth.logout(function(){
          setTimeout(function(){
            location.href="http://localhost:3000/pe/board/test";
          }, 1000);
        });
      }

      -->


      $(document).ready(function(){
        $('.signup-button').prop('disabled', true);
        $('.signup-button').addClass('disable-button');
        $("#signup-password").bind('input',function(){setTimeout (cmp_pass2(),500)});   // input의 값이 변경되면 0.5초 딜레이 후에 cmp_pass실행
        $("#signup-confirm").bind('input',function(){setTimeout (cmp_pass(),500)});

      function cmp_pass() {
         $('.signup-confirm').empty();
         if($("#signup-confirm").val() == $("#signup-password").val()) {
              if($("#signup-password").val().length >= 6){
                $('.signup-button').prop('disabled', false);
                $('.signup-button').text('회원가입 후 시작하기');
                $('.signup-button').addClass('button-primary');
                $('.signup-button').removeClass("disable-button");
               }
              else{
                $('.signup-button').prop('disabled', true);;
              }
           }
         else{
            $('.signup-button').prop('disabled', true);
            $(".signup-confirm").append("입력된 비밀번호가 다릅니다");
           }
        }
        function cmp_pass2() {
           $('.signup-password').empty();

            if($("#signup-password").val().length >= 6){
                }
            else{
              $('.signup-button').prop('disabled', true);
              $(".signup-password").append("비밀번호가 너무 짧습니다. 6글자 이상으로 해주세요.");

            }
          }


       });

       jQuery.fn.serializeObject = function() {
          var obj = null;
          try {
              if (this[0].tagName && this[0].tagName.toUpperCase() == "FORM") {
                  var arr = this.serializeArray();
                  if (arr) {
                      obj = {};
                      jQuery.each(arr, function() {
                          obj[this.name] = this.value;
                      });
                  }//if ( arr ) {
              }
          } catch (e) {
              alert(e.message);
          } finally {
          }

          return obj;
      };


       $('.signin-button').click(function(){
         $(".signin-email").empty();
         var idx = $(this).parent().parent().parent().index();
         var frm = document.getElementById('form-signin');
         frm.method = 'POST';
         frm.enctype = "application/json; charset=utf-8";
         var userData = JSON.stringify($("#form-signin").serializeObject());

         console.log(userData);
         $.ajax({
             url:'/user/signin/local',
             type:'POST',
             contentType: "application/json; charset=utf-8",
             dataType   : "json",
             data:userData,
             async:true,
             cache:false,
             processData:false,
             success: function (response){
               console.log("response :", response);

               if(response.error){
                 // 로그인 에러
                 $(".signin-email").append('로그인 오류입니다. 다시 시도해주세요.');
               }else{
                 if(response.emailCheck){
                   if(response.signin){
                     $(".signin-email").append('로그인에 성공하였습니다.');
                     var url = "/user/main";

                     window.location.href = url;
                   }else{
                     $(".signin-email").append('비밀번호가 일치하지 않습니다. 다시 시도해주세요.');
                   }
                 }else{
                   $(".signin-email").append('등록되지 않은 아이디입니다. 회원가입 후 다시 시도해주세요.');
                 }



               }
             }
         });
       });

       $('.signup-button').click(function(){
         $(".signup-email").empty();
         var idx = $(this).parent().parent().parent().index();
         var frm = document.getElementById('form-signup');
         frm.method = 'POST';
         frm.enctype = "application/json; charset=utf-8";
         var userData = JSON.stringify($("#form-signup").serializeObject());
         //console.log(userData);
         $.ajax({
             url:'/user/signup',
             contentType: "application/json; charset=utf-8",
             dataType   : "json",
             type:'POST',
             data:userData,
             async:true,
             cache:false,
             processData:false,
             success: function (response){
               //console.log("response :", response);

               if(response.atCheck){
                 if(response.error){
                   // 회원가입 에러
                   $(".signup-email").append('회원가입 오류입니다. 다시 시도해주세요.');
                 }else{
                   if(response.duplicate){
                     // 회원 아이디 중복
                     $(".signup-email").append('아이디 중복입니다. 다시 시도해주세요.');
                   }else{
                     if(response.signup){
                       if(response.signin){
                         // 회원가입 성공, 로그인 완료
                         var url = "/user/main";
                         window.location.href = url;
                       }else{
                         // 회원가입 성공, 로그인 실패
                         $(".signup-email").append('회원가입에 성공하였습니다. 로그인해주세요.');
                       }
                     }else{
                       // 회원가입 에러
                       $(".signup-email").append('회원가입 에러입니다. 다시 시도해주세요.');
                     }
                   }
                 }
               }else{
                 $(".signup-email").append('잘못된 아이디 형식입니다. 아이디에 @을 포함해주세요.');
               }
             }
         });
       });

       function checkDuplicate(object){
         $(".signup-email").empty();
         var email =  $(".input-signup-email").val().trim();
         if(email === ""){

         }else{
           var atCheck = email.indexOf("@");

           if(atCheck === -1){
         		$(".signup-email").append('잘못된 아이디 형식입니다. 아이디에 @을 포함해주세요.');
         	}else{
            $.ajax({
                url:'/pipet/user/' + email + '/duplicate',
                contentType: "application/json; charset=utf-8",
                dataType   : "json",
                type:'GET',
                data:null,
                async:true,
                cache:false,
                processData:false,
                success: function (response){
                  if(response.duplicate){
                    // 회원 아이디 중복
                    $(".signup-email").append('아이디 중복입니다. 다시 시도해주세요.');
                  }else{
                    $(".signup-email").append('해당 아이디는 사용 가능합니다.');
                  }

                }
            });
          }
         }

       }

    </script>

  </body>


</html>
